.form {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
}
.login-form {
  background-color: rgb(1, 1, 31);
  padding: 100px 60px;
  border-radius: 10px;
}
.form label {
  color: white;
}
span {
  color: white;
}

/* Responsive */
@media screen and (max-width: 785px) {
  .login-form {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 475px) {
  .login-form {
    padding: 30px 20px;
  }
}
